body {
    padding-top: 10px;
    background: url('../images/background.jpg') center top;
}

.panel-footer,
.modal-footer {
    text-align: center;
}

.progress {
    margin-bottom: 5px;
}

.weak {
    display: none;
    color: #ff101a;
}

.mediocre {
    display: none;
    color: #4fbf2d;
}

.strong {
    display: none;
    color: #279003;
}

/* Fix radius of hidden fields. */
.password input {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.message {
    white-space: pre;
    font-size: 18px;
    overflow-x: scroll;
}

#send-url-link {
    overflow: hidden;
}

.features td {
    padding-right: 10px;
}

.features .glyphicon {
    color: #279003;
}

.lang {
    margin-top: -15px;
}

.lang a {
    color: #efefef;
}